@model IEnumerable<ModelClasses.EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>
<link href="~/CSS/create.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<div>

    @using (Html.BeginForm("Index", "Home"))
    {
        <b>Search By :</b>

        @Html.RadioButton("SearchBy", "All", true) @:[All]
        @Html.RadioButton("SearchBy", "DepartmentId") @:[Department Id]
        @Html.RadioButton("SearchBy", "LocationId") @:[Location Id]
        <br /><br />
        <div class="home-index-form-group">
            @Html.Editor("Id", new
                   {
                       htmlAttributes = new { @class = "form-control",}
                   })
            <input class="btn btn-primary home-index-search" type="submit" value="Submit" />
        </div>
    }
</div>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
